<header class="header">
    <a href="index.html">
        <picture>
            <source media="(max-width: 768px)" srcset="/components/escudo.png">
            <source media="(min-width: 769px)" srcset="/components/banner-black.png">
            <img src="../assets/banner-black.png" alt="R.O Recrutamento - Profissionais Domésticos Qualificados" class="logo" loading="lazy">
        </picture>              
    </a>
    
    <nav class="nav" id="nav">
        <a href="index.html" class="nav__link">Início</a>
        <a href="index.html" class="nav__link">Procuro colaborador</a>
        <a href="index.html" class="nav__link">Quero me candidatar</a>
        <a href="index.html" class="nav__link">Nosso CT</a>
        <a href="index.html" class="nav__link">Sobre Nós</a>
        <a href="index.html" class="nav__link">Contatos</a>
    </nav>

    <div class="hamburger" id="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>